<section id="user_data">
  <p id="-js-user-name"></p>
  <img src=""/assets/svg/member_icn.svg alt="ユーザーアイコン画像" class="-js-user-icon user_icon">
</section>

　<p id="success"></p>
　<p id="error"></p>


<%= link_to '+', new_letter_path, class: 'new_btn' %>
<br>
<p>受信ボックスが標準で表示される仕様。</p>
<p>送信した手紙も、できれば表示される様にしたい。タブ選択で。</p>
<p>下書き中のみ編集機能を、受信したもののみ削除機能？これはいらないかな<div class=""></div></p>
<p></p>
<p></p>

    <% @letters.each do |letter| %>
			<%= link_to letter.description, letter_path(letter) %>
			<%= letter.send_by  %>
      <%= letter.created_at  %>
    <% end %>

  
<%= javascript_pack_tag 'letters/login' %>
