<section id="user_data">
  <p id="-js-user-name"></p>
  <img src="/assets/svg/member_icn.svg" alt="ユーザーアイコン画像" class="-js-user-icon user_icon">
</section>

<h1>Letters#new</h1>


ここで手紙を描ける様になります
<br>

<%= form_with model: @letter, local: true do |f| %>
  <%= f.text_field :send_by, placeholder: "送信元" %>
  <%= f.text_field :send_to, placeholder: "送信先" %>
  <%= f.select :api_status, [["送信中", "sending"], ["送信成功", "success"], ["送信失敗", "failure"]] ,class:"form-control" %>

  <%= f.text_area :description, row: 100, placeholder: "手紙をここに入力してね" %>

  <%= f.submit "送信する", id: 'send' %>
<% end %>

<%= link_to 'メールボックスに戻る', letters_path, class: 'btn' %>

<%= javascript_pack_tag 'letters/login' %>
