<!DOCTYPE html>
<html>
  <head>
    <title>ぱふシェア</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if flash.notice.present? %>
      <%= flash.notice  %>
    <% end  %>
    <%= yield %>

  </body>
</html>
